[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "vst3sdk"]
	path = vst3sdk
	url = https://github.com/steinbergmedia/vst3sdk.git
[submodule "ARA_SDK"]
	path = ARA_SDK
	url = https://github.com/Celemony/ARA_SDK.git
